{% extends 'base.html.twig' %}

{% block title %}Discipulos - Maranatha Discipulado{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            // Colapsar/Expandir Sidebar
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
            
            // Hacer que los items del sidebar sean activos al hacer clic
            $('.sidebar-item').on('click', function() {
                $('.sidebar-item').removeClass('active');
                $(this).addClass('active');
            });
        });   
        
        function search() {
            var orden = document.getElementById('Orden').value;
            var limit = document.getElementById('limit').value;            
            var input = document.getElementById('searchInput').value;
            window.location.href = '/discipulo?page=1&limit=' + limit + '&searchInput=' + input + '&Orden=' + orden;
        }

        function Ordenar() {
            var orden = document.getElementById('Orden').value;
            var limit = document.getElementById('limit').value;
            if (orden != '-99') {
                var searchInput = document.getElementById('searchInput').value; // Obtener el valor de búsqueda actual
                window.location.href = '/discipulo?page=1&limit=' + limit + '&searchInput=' + searchInput + '&Orden=' + orden; // Incluir el criterio de ordenación en la URL
            } else {
                alert('Por favor, seleccione un criterio de ordenación válido.');
            }
        }

        function changeLimit() {
            var limit = document.getElementById('limit').value;
            var searchInput = document.getElementById('searchInput').value; // Obtener el valor de búsqueda actual
            var orden = document.getElementById('Orden').value; // Obtener el valor de ordenación actual
            window.location.href = '/discipulo?page=1&limit=' + limit + '&searchInput=' + searchInput + '&Orden=' + orden; // Incluir el criterio de ordenación en la URL
        }
    </script>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button type="button" id="sidebarCollapse" class="btn btn-dark mr-2">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
           <img src="{{ appLogo }}" alt="Logo" style="height:45px !important">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user-circle mr-1"></i> Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-cog mr-1"></i> Configuración</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt mr-1"></i> Salir</a>
                </li>
            </ul>changeLimit()
        </div>
    </nav>
    <!-- Sidebar -->
    {% include 'navigation_admin.html.twig' %}
    <!-- Contenido Principal -->
    <div id="content" style=" padding:5px !important">    
        <p>&nbsp;</p>
        <h1>Discipulos en el Sistema</h1>
        <div class='row'>
            <div class='col-12 col-md-8 col-lg-8 mb-0' style='margin:auto !important'>
                <table class="table table-bordered" style="font-size: 10px !important">
                    <thead class='bg-dark text-white text-center'>
                        <tr>
                            <th>Total Discipulos</th>
                            <th>Total Hombres</th>
                            <th>Total Mujeres</th>
                            
                        </tr>
                    </thead>
                    <tbody>                    
                        <tr >
                            <td class='text-right'>{{ nDiscipulos }}</td>
                            <td class='text-right'>{{ nHombres }}</td>
                            <td class='text-right'>{{ nMujeres }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% if searchInput != "" %}
        <div class='row'>
            <div class='col-12 col-md-8 col-lg-8 mb-0' style='margin:auto !important'>
                <div class="alert alert-info" role="alert">
                    Se encontraron {{ nBusqueda }} discipulos con el criterio de búsqueda: "{{ searchInput }}"
                </div>
            </div>
        </div>
        {% endif %}
        <div class='row'>
            <div class='col-12 col-md-8 col-lg-8 mb-0' style='margin:auto !important'>
                <div class="navigation">
                    {{ knp_pagination_render(discipulos) }}
                </div>              
            </div>
            <div class='col-12 col-md-4 col-lg-4 text-left mb-0'>
                <div class="input-group">
                    <input type="text" class="form-control" id='searchInput' name='searchInput' placeholder="Buscar Cedula Nombre o Apellido" aria-label="Buscar" aria-describedby="basic-addon2" value='{{ searchInput  }}'>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" onclick='javascript:search()'>Buscar</button>
                    </div>
                </div>                
            </div>
        </div>        
        <div class='row'>
            <div class='col-12 col-md-6 col-lg-8 mb-6' style='margin:auto !important'>
                <div class="input-group">
                    {% if Orden %}
                    <select id="Orden" class="form-control" onchange="javascript:sort()">
                        <option value="-99">Seleccionar</option>
                        <option value="cedula_asc" {% if Orden == 'cedula_asc' %}selected{% endif %}>Cedula Ascendente</option>
                        <option value="cedula_desc" {% if Orden == 'cedula_desc' %}selected{% endif %}>Cedula Descendente</option>
                        <option value="nombre_asc" {% if Orden == 'nombre_asc' %}selected{% endif %}>Nombre Ascendente</option>
                        <option value="nombre_desc" {% if Orden == 'nombre_desc' %}selected{% endif %}>Nombre Descendente</option>
                        <option value="fechaNac_asc" {% if Orden == 'fechaNac_asc' %}selected{% endif %}>Fecha Nacimiento Ascendente</option>
                        <option value="fechaNac_desc" {% if Orden == 'fechaNac_desc' %}selected{% endif %}>Fecha Nacimiento Descendente</option>
                    </select>
                    {% else %}
                        <select id="Orden" class="form-control" onchange="javascript:sort()">
                            <option value="-99">Seleccionar</option>
                            <option value="cedula_asc" >Cedula Ascendente</option>
                            <option value="cedula_desc" >Cedula Descendente</option>
                            <option value="nombre_asc" >Nombre Ascendente</option>
                            <option value="nombre_desc">Nombre Descendente</option>
                            <option value="fechaNac_asc">Fecha Nacimiento Ascendente</option>
                            <option value="fechaNac_desc" >Fecha Nacimiento Descendente</option>
                        </select>
                    {% endif %}
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" onclick='javascript:Ordenar()'>Ordenar</button>
                    </div>
                </div>
            </div>
            <div class='col-12 col-md-6 col-lg-4 mb-6' style='margin:auto !important'>
                 <div class="input-group">
                    <select id="limit" class="form-control">
                        <option value="25" {% if limit == 25 %}selected{% endif %}>25 por página</option>
                        <option value="50" {% if limit == 50 %}selected{% endif %}>50 por página</option>
                        <option value="75" {% if limit == 75 %}selected{% endif %}>75 por página</option>
                        <option value="100" {% if limit == 100 %}selected{% endif %}>100 por página</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" onclick='javascript:changeLimit()'>Cambiar Límite</button>
                    </div>                   
                 </div>
            </div>
        </div>              
        <div class="my-3 text-center"> {# Un div para agrupar y dar un poco de margen #}
            <a href="{{ path('app_discipulo_new') }}" title='Agregar un discipulo nuevo al sistema' class="btn btn-primary btn-lg rounded-lg">
                <i class="fa fa-plus-square" style='font-size: 24px;'></i> {# Ajusté el tamaño para que se vea mejor en un botón #}
                Agregar Discipulo
            </a>
        </div>         
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha Nac.</th>
                    <th>Sexo</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% set i = 1 %}
            {% for discipulo in discipulos %}
                <tr>
                    <td  class='text-center'>{{ i }}</td>
                    <td>{{ discipulo.cedula }}</td>
                    <td>{{ discipulo.nombre }}</td>
                    <td>{{ discipulo.apellido }}</td>
                    <td>{{ discipulo.fechaNac ? discipulo.fechaNac|date('d/m/Y') : '' }}</td>
                    <td  class='text-center'>
                        {% if discipulo.sexo == '1' %}
                            Hombre
                        {% elseif discipulo.sexo == '0' %}
                            Mujer
                        {% endif %}
                    </td>
                    <td>{{ discipulo.email }}</td>
                    <td>{{ discipulo.telefono }}</td>
                    <td class='text-center'>
                        {% if discipulo.estado == '1' %}
                            <span class='badge badge-success'>Activo</span>
                        {% else %}
                            <span class='badge badge-danger'>Inactivo</span>
                        {% endif %}
                    </td>
                    <td  class='text-center'>
                        <a href="{{ path('app_discipulo_show', {'id': discipulo.id}) }}"><i class="fa-solid fa-eye"></i></a>
                        <a href="{{ path('app_discipulo_edit', {'id': discipulo.id}) }}"><i class="fa-solid fa-user-pen"></i></a>
                    </td>
                </tr>
                {% set i = i + 1 %}
            {% else %}
                <tr>
                    <td colspan="9" class="text-danger">No se han encontrado discípulos en el sistema</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

