{% extends 'base.html.twig' %}

{% block title %}Planificación - Maranatha Discipulado{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            // Colapsar/Expandir Sidebar
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
            
            // Hacer que los items del sidebar sean activos al hacer clic
            $('.sidebar-item').on('click', function() {
                $('.sidebar-item').removeClass('active');
                $(this).addClass('active');
            });
        });   
        
        function search() {
            var input = document.getElementById('searchInput').value;
            window.location.href = '/planificacion?page=1&limit=10&searchInput=' + input;
        }


        function verAsignados(id) {
            // Generamos la URL base usando Twig y reemplazamos el ID falso por el real
            let url = "{{ path('app_planificacion_asociar_discipulos', {'id': 'REPLACE_ID'}) }}";
            url = url.replace('REPLACE_ID', id);
            console.log (url);

            window.open(url, '_blank', 'width=800,height=600');
        }

        function upLesson(id, leccionId, aulaId) {
            // Generamos la URL base usando Twig y reemplazamos el ID falso por el real
            let url = "{{ path('app_planificacion_subir_leccion', {'id': 'REPLACE_ID'}) }}";
            url = url.replace('REPLACE_ID', id);
            
            // Añadimos los parámetros adicionales
            url += "?leccionId=" + leccionId + "&aulaId=" + aulaId;

            window.open(url, '_blank', 'width=800,height=600');
        }

        // esta funcion se usa para notificar a los discipulos
        function sendNotification(id, leccionId, aulaId) {
            $.ajax({
                url: "/send_notification/",
                method: "POST",
                data: {
                    id: id,
                    leccionId: leccionId,
                    aulaId: aulaId
            }}).done(function (res) {
                paso=25;
                //console.log (res);
                var data = JSON.parse(res); 
                paso=26;               
                console.log  (data);  
                paso=27;                                    
                if (data.valor==1){
                    paso=30;
                    cadena="Notificación enviada con éxito a los discipulos asignados a esta planificación";
                    paso=31;
                    msgSuccess(cadena);
                } else if (data.valor==-2) {
                    paso=50;
                    cadena="No se pudo encontrar el precio de venta de los foils";
                    paso=51;
                    msgError(cadena);
                } else {
                    paso=60;
                    cadena="Ocurrió un error que no pudo ser controlado<br>Inténtelo de nuevo";
                    paso=61;
                    msgError(cadena);
                }
            });

        }   
    </script>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button type="button" id="sidebarCollapse" class="btn btn-dark mr-2">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
           <img src="{{ appLogo }}" alt="Logo" style="height:45px !important">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user-circle mr-1"></i> Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-cog mr-1"></i> Configuración</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt mr-1"></i> Salir</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Sidebar -->
    {% include 'navigation_admin.html.twig' %}
    <!-- Contenido Principal -->
    <div id="content" style=" padding:5px !important">    
        <p>&nbsp;</p>
        <h1>Planificación en el Sistema</h1>
        <p>&nbsp;</p>
        <div class='row'>
            <div class='col-12 col-md-8 col-lg-8 mb-0' style='margin:auto !important'>
                <div class="navigation">
                    {{ knp_pagination_render(planificacions) }}
                </div>              
            </div>
        </div>
        <div class='row'>
            <div class='col-12 col-md-4 col-lg-4  mb-0'>
                <div class="input-group">
                    <label for='fechaInicio'>Fecha Inicio:</label>
                    <input type="date" class="form-control form-control-sm" id='fechaInicio' name='fechaInicio'>

                </div>  
            </div>
            <div class='col-12 col-md-4 col-lg-4  mb-0'>                
                <div class="input-group">
                    <label for='fechaFin'>Fecha Fin:</label>
                    <input type="date" class="form-control form-control-sm" id='fechaFin' name='fechaFin' >

                </div>      
            </div>
            <div class='col-12 col-md-4 col-lg-4  mb-0'>                
                <div class="input-group">
                    <label for='leccion'>Lección:</label>
                    <select class="form-control form-control-sm" id='leccion' name='leccion' >
                        <option value='-99'>Cualquiera</option>
                        {% for leccion in lecciones %}
                            <option value='{{ leccion.id }}'>{{ leccion.titulo }}</option>
                        {% endfor %}
                    </select>

                </div>      
            </div>         
        </div>
        <div class='row'>       
            <div class='col-12 col-md-12 col-lg-12 mb-0'>                           
                <div class="input-group">
                    <input type="text" class="form-control" id='searchInput' name='searchInput' placeholder="Buscar por Lección, Discipulador o Planificador" aria-label="Buscar" aria-describedby="basic-addon2" value='{{ searchInput  }}'>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" onclick='javascript:search()'>Buscar</button>
                    </div>
                </div>                
            </div>
        </div>   
        <div class='row'>
            <div class='col-12 col-md-12 col-lg-12 mb-0' style='margin:auto !important'>
                <div class="my-3 text-center"> {# Un div para agrupar y dar un poco de margen #}
                    <a href="{{ path('app_planificacion_new') }}" title='Agregar una planificación nueva al sistema' class="btn btn-primary btn-lg rounded-lg">
                        <i class="fa fa-plus-square" style='font-size: 24px;'></i> {# Ajusté el tamaño para que se vea mejor en un botón #}
                        Agregar Planificación
                    </a>
                </div>         
                <table class="table table-striped" style="font-size: 10px !important">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Fecha</th>
                            <th>Cohorte</th>
                            <th>Lección</th>
                            <th>Aula</th>
                            <th>Discipulador</th>
                            <th>Estado</th>
                            <th>Observacion</th>
                            <th>Secciones Asignadas</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for planificacion in planificacions %}
                        <tr>
                            <td class='text-center'>{{ i }}</td>
                            <td class='text-center'>{{ planificacion.fecha ? planificacion.fecha|date('d/m/Y') : '' }}</td>
                            <td class='text-left'>{{ planificacion.cohorte }}</td>
                            <td class='text-left'>{{ planificacion.leccion }}</td>
                            <td class='text-left'>{{ planificacion.aula }}</td>
                            <td>{{ planificacion.discipulador }}</td>
                            <td>
                                {% if planificacion.estado == '1' %}
                                    <span class='badge badge-success'>Activo</span>
                                {% else %}
                                    <span class='badge badge-danger'>Inactivo</span>
                                {% endif %}                        
                            
                            </td>
                            <td class='text-left'>{{ planificacion.observacion }}</td>
                            <td class='text-center'>
                                <a href="javascript:verAsignados('{{ planificacion.id }}')">{{ planificacion.seccionesAsignadas }}</a>
                            </td>
                            <td class='text-center'>
                                <a href="{{ path('app_planificacion_show', {'id': planificacion.id}) }}"><i class="fa-solid fa-eye"></i></a>
                                <a href="{{ path('app_planificacion_edit', {'id': planificacion.id}) }}"><i class="fa-solid fa-user-pen"></i></a>
                                <a href="javascript:sendNotification('{{ planificacion.id }}','{{ planificacion.leccionId }}','{{ planificacion.aulaId }}')" title="Notificar lección"><i class="fa-solid fa-paper-plane" style="color: #28ba07;"></i></a>
                            </td>
                        </tr>
                        {% set i = i + 1 %}
                    {% else %}
                        <tr>
                            <td colspan="11" class="text-danger">No se han encontrado planificaciones en el sistema</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>            
            </div>
                
        </div>


    </div>
{% endblock %}
